<div class="row">
    <div class="col-md-2">
        <div class="bg-white p-2">
            <img src="img/@Model.Image" alt="" class="img-fluid">
        </div>
    </div>
    <div class="col-md-10">
        <div class="bg-white p-2">
            <h5>@Model.Name</h5>
            <hr>
            <div id="posts">
                <h5 class="my-4">Yayınlanan Postlar</h5>
            </div>
            <div id="comments">
                <h5 class="my-4">Yorumlar</h5>
            </div>
        </div>
    </div>
</div>
